.contact{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 80px;
    margin: 80px 170px;
}

.contact-title{
    position: relative;
}

.contact-title h1{
    font-size: 80px;
    font-weight: 600;
    padding: 0 30px;
}

.contact-title img{
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: -1;
}

.contact-container{
    display: flex;
    gap: 150px;
}

.contact-left{
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.contact-left h1{
    font-size: 60px;
    font-weight: 700;
    background:linear-gradient(267deg,#df8908 50%,#b415ff 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.contact-left p{
    font-size: 20px;
    line-height: 35px;
    max-width: 550px;
    color: #d8d8d8;
}

.contact-right{
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 15px;
}

.contact-right label{
    font-size: 22px;
    font-weight: 500;
    color: #d8d8d8;

}

.contact-right input{
    border: none;
    width: 700px;
    height: 68px;
    padding-left: 20px;
    border-radius: 4px;
    background: #32323c;
    color:#a0a0a0;
    font-family: Outfit;
    font-size: 20px;
}

.contact-right textarea{
    border: none;
    width: 650px;
    padding: 20px;
    border-radius: 4px;
    background: #32323c;
    color:#a0a0a0;
    font-family: Outfit;
    font-size: 20px;
}

.contact-details{
    display: flex;
    flex-direction: column;
    gap: 30px;
    font-size: 22px;
    color: #d8d8d8;

}

.contact-detail{
    display: flex;
    gap: 20px;
    align-items: center;
}


.contact-submit{
    background:linear-gradient(267deg,#df8908 -5%,#b415ff 100%);
    border: none;
    padding: 20px 60px;
    border-radius: 50px;
    font-size: 22px;
    color: white;
    cursor: pointer;
    transition: 0.4s;
    margin-bottom: 50px;
    margin-top: 15px;
    font-family: Outfit;

}

.contact-submit:hover{
    border: 2px solid white;
    transform: scale(1.05);
    transition: 0.3s;
}

@media (max-width: 992px){
    .contact{
        margin: 20px 70px;
    }
    .contact-container{
        flex-direction: column;
    }
}

@media(max-width:768px){
     .contact{
        margin: 50px 70px;
    }

    .contact-title h1{
        font-size: 50px;
        padding: 0;
    }

    .contact-title img{
        width: 130px;
        right: -20px;
    }
    .contact-container{
        flex-direction: column;
        gap: 70px;
    }

    .contact-left h1{
        font-size: 54px;
    }

    .contact-left p{
        font-size: 20px;
    }

    .contact-right{
        gap: 20px;
    }

    .contact-right input{
        width: 100%;
        font-size: 20px;
    }

    .contact-right textarea{
        width: 100%;
        font-size: 20px;
    }

    .contact-submit{
    
    padding: 20px 40px;
    font-size: 20px;
    

}
}



